
<div class="bg-dark">
<app-lay-out-menu></app-lay-out-menu>
<app-lay-out-carousel></app-lay-out-carousel>

<div id="smartphone" class="container-fluid pt-5 pb-5">
      <h1 class="text-white text-center">BEST SMARTPHONE</h1>
      <div class="row">
        <app-lay-out-best></app-lay-out-best>
         <app-lay-out-best></app-lay-out-best>
          <app-lay-out-best></app-lay-out-best>
          <app-lay-out-best></app-lay-out-best>
      </div>
</div>
 <div id="laptop" class="container-fluid pt-5 pb-5 bg-light text-dark">
       <div><h1 class=" text-center">BEST LAPTOP</h1></div>
      <div class="row">
        <app-lay-out-best></app-lay-out-best>
         <app-lay-out-best></app-lay-out-best>
          <app-lay-out-best></app-lay-out-best>
          <app-lay-out-best></app-lay-out-best>
      </div>
 </div>

<app-lay-out-promotion></app-lay-out-promotion>

</div>